In [2]:
import pandas as pd

df = pd.read_csv('movies.csv')

df.head()

             Title      Genre  Year  Rating  Revenue_Millions
0           Avatar     Action  2009     7.9              2788
1          Titanic      Drama  1997     7.8              2187
2     The Avengers     Action  2012     8.1              1518
3  The Dark Knight     Action  2008     9.0              1005
4           Frozen  Animation  2013     7.5              1276

In [4]:
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.